# Visual Studio config files
.vscode/

# macOS folder attributes
/**/.DS_Store

# Firmware binaries
/**/build/
/**/managed_components/

# IDF sdkconfig
/**/sdkconfig
/**/sdkconfig.old
/**/dependencies.lock
